openapi: 3.1.0
info:
  title: Shippo Addresses Refunds API
  description: Shippo is a multi-carrier shipping API that enables developers to add complete shipping functionality to their applications. The API supports address validation, carrier rate comparison across USPS, UPS, FedEx, DHL, and 80+ other carriers, label generation, package tracking, returns management, and webhook notifications.
  version: '2018-02-08'
  contact:
    name: Shippo
    url: https://docs.goshippo.com/
    email: support@goshippo.com
  license:
    name: Shippo API Terms
    url: https://goshippo.com/terms-of-use/
  x-date: '2026-05-02'
servers:
- url: https://api.goshippo.com
  description: Shippo API
security:
- ShippoToken: []
tags:
- name: Refunds
  description: Request label refunds
paths:
  /refunds:
    get:
      operationId: listRefunds
      summary: List Refunds
      description: Returns a list of all refund objects.
      tags:
      - Refunds
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: results
        in: query
        schema:
          type: integer
      responses:
        '200':
          description: A list of refunds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundPaginatedList'
    post:
      operationId: createRefund
      summary: Create Refund
      description: Creates a refund request for a purchased label.
      tags:
      - Refunds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreateRequest'
      responses:
        '201':
          description: Refund request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
  /refunds/{RefundId}:
    get:
      operationId: getRefund
      summary: Get Refund
      description: Returns an existing refund using an object ID.
      tags:
      - Refunds
      parameters:
      - name: RefundId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Refund object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Refund'
components:
  schemas:
    Refund:
      type: object
      properties:
        object_id:
          type: string
        status:
          type: string
          enum:
          - QUEUED
          - PENDING
          - SUCCESS
          - ERROR
        transaction:
          type: string
          description: Transaction object ID being refunded
        object_created:
          type: string
          format: date-time
        object_updated:
          type: string
          format: date-time
    RefundPaginatedList:
      type: object
      properties:
        count:
          type: integer
        next:
          type: string
        previous:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/Refund'
    RefundCreateRequest:
      type: object
      required:
      - transaction
      properties:
        transaction:
          type: string
          description: Transaction object ID to refund
        async:
          type: boolean
  securitySchemes:
    ShippoToken:
      type: http
      scheme: bearer
      description: Shippo API token (prefix with "ShippoToken ")
